{% extends "shop/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

    {% csrf_token %}


    <a id="picsum-ref" hidden="true" href="{% url 'wishlist-pic' %}"></a>
    <a id="wishlist-ref" hidden="true" href="{% url 'wishlist' %}"></a>

    <link rel='stylesheet' href="{% static "shop/css/build/bundle.css" %}">    
    
	<script defer src="{% static "shop/js/build/bundle.js" %}"></script>

    <div class="hero-wrap hero-bread" style="background-image: url(/static/shop/images/bg_1.jpg);">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Wishlist</span></p>
            <h1 class="mb-0 bread">My Wishlist</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-cart">
			<div class="container">
				<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list" id="product-list">
	    				
					</div>
    			</div>
    		</div>
			</div>
	</section>


{% endblock %}